doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | YouTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            nav     
                  ul
                     li  
                         a(href="/") Home
                     li  
                         a(href="videos/upload") Upload Video
                     li  
                         a(href="/search") Search Video
            h1=pageTitle 
            block upload
        main     
            block content
            include partials/footer.pug 