extends base.pug

block content 
    h4 Update #{video.title}
    form(method="POST")
        input(name="title",placeholder="Video Title", value=video.title , required)
        input(name="description", required, placeholder="Description",type="text", value=video.description)
        input(name="hashtags", required, placeholder="Hashtags, separated by comma",type="text", value=video.hashtags.join())
        input(value="Save", type="submit")