extends ../base

block content 
    h4 Change Password 
    if errorMessage 
        h4=errorMessage
    form(method="POST")
        input(name="oldPassword", placeholder="Old Password",type="password",required)
        input(name="newPassword", placeholder="New Password",type="password",required)
        input(name="newPassword1", placeholder="New Password Confirmation",type="password",required)
        input(type="submit", value="Change Password")
